* {
    box-sizing: border-box;
}

body {
    background-color: black;
    height: 100%;
}

h1 {
    color: white;
    text-align: center;
}

.ball {
    display: flex;
    justify-content: center;
    place-items: center;

    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: red;
    font-size: 22px;
    font-weight: bold;

    margin: auto;
    text-align: center;

    transition: 1s;
}

.ball2 {
    display: grid;
    align-items: center;

    padding-top: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgb(30, 255, 0);
    font-size: 22px;
    font-weight: bold;

    margin: auto;
    margin-top: 20px;
    text-align: center;

    transition: 1s;
}